*{
	background-color: rgb(186, 203, 209);
}

header {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    color: rgb(58, 59, 63);
    margin-right: 30px; 
}

p {
    background-color: rgb(214, 214, 214);
}

svg {
    vertical-align: text-top;
    background-color: rgb(214, 214, 214);
}

.input-field {
    font-size: 25px;
    margin: 0px 30px;
}

.input-field [type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(58, 59, 63);
    border-radius: 4px;
    margin-left: 150px;
    background-color: rgb(214, 214, 214);
}

.input-field svg {
    vertical-align: middle;
    background-color: rgb(186, 203, 209);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px 280px 0px 145px;
}

.to-do {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.done {
    border: none;
    background: transparent;
    border-radius: 3px;
    font-size: 15px;
    width: 550px;
    padding: 10px;

}


